/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* global */
body {
  background-color: beige;
}
#root {
  /* height: 100%; */
  text-align: center;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 20px auto;
}
h1 {
  font-size: 45px;
  font-weight: bolder;
  color: #A66124;
}
.button-item {
  border: none;
  background-color: #2B7DE9;
  color: #fff;
  padding: 15px 35px;
  font-size: 18px;
}
.button-item:hover {
  background-color: #2b7de9d4;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

/* form */
form {
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
input {
  border: 2px solid rgba(102, 24, 24, 0.5);
  padding: 8px;
  width: 400px;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
input:focus {
  outline: none;
}
.button-input {
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  color: #fff;
}
.button-input:hover {
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5);
}
.button-add {
  margin-right: 30px;
  background-color: #8C1155;
}
.button-removeAll {
  background-color: #26051dc7;
}

/* list */
ul {
  margin-top: 10px;
  list-style: none;
}
.card {
  margin: 0 auto 10px auto;
  min-height: 400px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid #BF5A50;
  min-height: 60px;
  padding: 5px;
  text-align: left;
}
li {
  min-width: 250px;
  max-width: 800px;
  overflow: auto;
}
.done {
  text-decoration: line-through;
}
.btn-image {
  width: 45px;
  border: none;
  background-color: transparent;
}
.btn-image:hover {
  cursor: pointer;
}

.btn-image:first-child {
  margin-right: 20px;
  margin-left: 10px;
}

/* modal */
.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 255, 0.056);
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card-modal {
  padding: 40px 60px;
  background-color: white;
  border-radius: 10px;
}
.hide-modal {
  display: none;
}

/* responsivite */
@media only screen and (max-width: 950px) {
  .div-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 700px) {
  header {
    width: 95%;
    justify-content: space-between;
  }
  li {
    width: 95%;
  }
}
@media only screen and (max-width: 550px) {
  .card-modal {
    padding: 20px 10px;
  }
}
@media only screen and (max-width: 480px) {
  input {
    width: 310px;
  }
}
@media only screen and (max-width: 380px) {
  header {
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
  }
  .card {
    flex-direction: column;
  }
  li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  .div-btn {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
}
